table.table.table-hover.table-striped.table-responsive ng-table="tableParams"
  tr[
    ng-class="{'urgency': issue.is_urgency==1}"
    ng-repeat="issue in $data | #{issue_filter} |byDateRange: dateFrom: dateTo | filter:byState | filter:searchAll"
    ng-controller="IssueController"
  ]
    td
      = render 'action_menu'
    td[
      data-title="'#'"
      sortable="'id'"
    ]
      a href="/issues/{{::issue.id}}" = '{{::issue.id}}'
    td[
      data-title="'Описание'"
      ng-bind-html="issue.description"
      class="issue-description"
    ]
    td[
      data-title="'Компания'"
      sortable="'company'"
    ]
     
      p[] {{issue.company}}
      img ng-src="{{issue.company_logo}}"
    td[
      data-title="'Помещение'"
      sortable="'room_full_title'"
      ng-bind="issue.room_full_title"
    ]
    td[
      data-title="'Кто создал заявку'"
      sortable="'user_full_name'"
      ng-bind="issue.user_full_name"
    ]
    td[
      data-title="'Исполнитель'" sortable="'executor_full_name'"
      ng-bind="issue.executor_full_name"
    ]
    td[
      data-title="'Последний комментарий'"
    ]
      div
        strong[] {{issue.last_commenter_full_name}}
      div[] {{issue.last_comment}}

    td[
      data-title="'Объект'"
      sortable="'facility_title'"
      ng-bind="issue.facility_title"
    ]
    td[
      data-title="'Создана'"
      sortable="'created_at'"
      ng-bind="issue.created_at"
    ]
    td[
      data-title="'План выполнения'"
      sortable="'finish_date_plane'"
      ng-bind="issue.finish_date_plane"
    ]
    = render 'issues/table/updated_at_field'
    = render 'issues/table/urgency_field'
   
    td[
      data-title="'Тип заявки'"
      sortable="'work_category_title'"
      ng-bind="issue.work_category_title ? issue.work_category_title : issue.service_title"
    ] {{}}
    td[
      data-title="'Статус'"
      sortable="'state'"
    ]
      span[class="label" ng-class="state_css_classes[issue.state]"] {{state_labels[issue.state]}}
    = render 'issues/table/extra_fields'

    td = render 'transition_form_modal'
