- if current_page?(issues_path)
  td[
    data-title="'Последнее обновление'"
    sortable="'updated_at'"
    ng-bind="issue.updated_at"
  ]
- else
  td[
    data-title="'Дата закрытия'"
    sortable="'updated_at'"
    ng-bind="issue.updated_at"
  ]