tr
  td= t('activerecord.attributes.service.title')
  td= @issue.service_title
tr
  td= t('activerecord.attributes.work_category.title')
  td= @issue.work_category_title
tr
  td= t('activerecord.attributes.issue.is_commercial')
  td= @issue.is_commercial
tr
  td= t('activerecord.attributes.issue.urgency.one')
  td= t("activerecord.attributes.issue.urgency.#{@issue.urgency}")
