= f.input :urgency, collection: Issue.urgency_select, include_blank: false
.text-muted.small
  strong Начало выполнения не позднее чем
  ul
    li 3 часа - нормальная
    li 20 минут - срочная
    li сразу - аварийная
