-unless ENV["USER_ECHO_FORUM_ID"] == "0"
  javascript:
    var _ues = {
      host: '#{ENV["USER_ECHO_HOST"]}',
      forum: '#{ENV["USER_ECHO_FORUM_ID"]}',
      lang: 'ru',
      tab_corner_radius: 0,
      tab_font_size: 24,
      tab_image_hash: '0J%2FQvtC80L7RidGMINC4INC%2B0YLQt9GL0LLRiw%3D%3D',
      tab_chat_hash: '0YfQsNGC',
      tab_alignment: 'right',
      tab_text_color: '#ffffff',
      tab_text_shadow_color: '#00000055',
      tab_bg_color: '#1a3261',
      tab_hover_color: '#f45c5c'
    };

    (function() {
        var _ue = document.createElement('script'); _ue.type = 'text/javascript'; _ue.async = true;
        _ue.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.userecho.com/js/widget-1.4.gz.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_ue, s);
      })();

    $( document ).ready(function() {
      $('.open-support').mouseover(function(){
          UE.Popin.preload();
       })

       $('.open-support').click(function(){
          UE.Popin.show();
       })
    });
